.home {
    margin-bottom: 2%;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border-bottom: 10px;
    border-color: black;
}

.item-list {
    margin-top: 15px;
}